[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
	name = Enoal Fauchille-Bolle
	email = enoal.fauchille-bolle@epitech.eu
    signingkey = /home/enoal/.ssh/id_ed25519.pub
[core]
    excludesfile = /home/enoal/.gitignore_global
    attributesfile = /home/enoal/.gitattributes
    pager = delta
	editor = nano
[init]
    defaultBranch = main
[commit]
    gpgSign = true
[tag]
    forceSignAnnotated = true
[gpg "ssh"]
    program = ssh-keygen
[gpg]
    format = ssh
[rerere]
    enabled = true
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[diff "typescript"]
    xfuncname = ^[ \\t]*((class|interface|function)[ \\t]+.*|((public|private|protected|static|async)[ \\t]+)*[a-zA-Z0-9_$]+\\(.*)$

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
