[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Enoal Fauchille-Bolle
	email = enoal.fauchille-bolle@epitech.eu
	signingkey = /home/enoal/.ssh/id_ed25519.pub
[core]
	excludesfile = /home/enoal/.gitignore_global
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[gpg "ssh"]
	program = ssh-keygen
[gpg]
	format = ssh
[rerere]
	enabled = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
